import(methods)
importFrom(stats, dnorm, dbinom)

exportClasses(Model)
exportClasses(UnivariateModel)
exportClasses(MultivariateModel)
exportClasses(GaussianModel)
exportClasses(BernoulliModel)
exportClasses(AR1Model)
exportClasses(ARpModel)
exportClasses(MultivariateGaussianModel)
exportClasses(TestSupermartingale)
exportClasses(TSM)
exportClasses(SimpleVsSimpleTSM)
exportClasses(Detector)
exportClasses(ShiryaevRobertsDetector)
exportClasses(CUSUMDetector)
exportClasses(Combiner)
exportClasses(ProductCombiner)
exportClasses(AverageCombiner)
exportClasses(UniversalPortfolioCombiner)
exportClasses(DGP)
exportClasses(Bets)
exportClasses(FixedBets)
exportClasses(AGRAPABets)
exportClasses(PredictablePluginBets)
exportClasses(BettingTSM)

export(GaussianModel)
export(BernoulliModel)
export(AR1Model)
export(ARpModel)
export(MultivariateGaussianModel)
export(TSM)
export(SimpleVsSimpleTSM)
export(ShiryaevRobertsDetector)
export(CUSUMDetector)
export(ProductCombiner)
export(AverageCombiner)
export(UniversalPortfolioCombiner)
export(DGP)
export(FixedBets)
export(AGRAPABets)
export(PredictablePluginBets)
export(BettingTSM)

export(model_density)
export(likelihood_increment)
export(compute_increments)
export(compute_tsm)
export(increments_to_tsm)
export(update_detector)
export(run_detector)
export(combine_streams)
export(generate_stream)
export(expand_dgp_grid)
export(default_gaussian_dgp)
export(default_multivariate_gaussian_dgp)
export(run_simulation)
export(compute_bets)

exportMethods(model_density)
exportMethods(likelihood_increment)
exportMethods(compute_increments)
exportMethods(compute_tsm)
exportMethods(update_detector)
exportMethods(run_detector)
exportMethods(combine_streams)
exportMethods(generate_stream)
exportMethods(compute_bets)
