import(methods)
importFrom(stats, dnorm, dbinom)

exportClasses(Model)
exportClasses(UnivariateModel)
exportClasses(MultivariateModel)
exportClasses(GaussianVARModel)
exportClasses(BernoulliModel)
exportClasses(BettingStrategy)
exportClasses(AGRAPABet)
exportClasses(EWMABet)
exportClasses(FixedBet)
exportClasses(BoundedModel)
exportClasses(TestSupermartingale)
exportClasses(TSM)
exportClasses(SimpleVsSimpleTSM)
exportClasses(ConformalTSM)
exportClasses(Detector)
exportClasses(ShiryaevRobertsDetector)
exportClasses(CUSUMDetector)
exportClasses(LocalizedDetector)
exportClasses(Combiner)
exportClasses(ProductCombiner)
exportClasses(AverageCombiner)
exportClasses(UniversalPortfolioCombiner)
exportClasses(GraphCombiner)
exportClasses(DGP)
exportClasses(DependencyGraph)
exportClasses(ProximityGraph)

export(GaussianVARModel)
export(GaussianModel)
export(MultivariateGaussianModel)
export(BernoulliModel)
export(AGRAPABet)
export(EWMABet)
export(FixedBet)
export(ARBoundedModel)
export(BoundedModel)
export(compute_kelly_optimal_bet)
export(TSM)
export(SimpleVsSimpleTSM)
export(ConformalTSM)
export(ShiryaevRobertsDetector)
export(CUSUMDetector)
export(LocalizedDetector)
export(ProductCombiner)
export(AverageCombiner)
export(UniversalPortfolioCombiner)
export(GraphCombiner)
export(DGP)
export(DependencyGraph)
export(ProximityGraph)
export(dependency_blocks)
export(graph_distance)
export(graph_distance_matrix)
export(exponential_kernel)
export(hard_cutoff_kernel)
export(proximity_allowance)
export(propagation_nu)
export(model_density)
export(likelihood_increment)
export(compute_increments)
export(compute_tsm)
export(increments_to_tsm)
export(update_detector)
export(run_detector)
export(run_sr_per_clock)
export(combine_streams)
export(generate_stream)
export(expand_dgp_grid)
export(run_simulation)

exportMethods(compute_bet)
exportMethods(model_density)
exportMethods(likelihood_increment)
exportMethods(compute_increments)
exportMethods(compute_tsm)
exportMethods(update_detector)
exportMethods(run_detector)
exportMethods(combine_streams)
exportMethods(generate_stream)
